[submodule "themes/vncnt-hugo"]
	path = themes/vncnt-hugo
	url = git@github.com:fncnt/vncnt-hugo.git
[submodule "public"]
	path = public
	url = git@github.com:yanmhlv/yanmhlv.github.io.git
	branch = master
